<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarantine Resume</title>
    <link rel="stylesheet" type="text/css" href="./css/close.css"/>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169904506-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-169904506-1');
    </script>
</head>
<body style="background-color: #a2dbff">

    <br/>
    <div class="block fixed" style="position:relative;
    z-index: 1;
    height: 100%;
    min-width: 50px;
    max-width: 1000px;
    margin: 0 auto;">
        <h1 class="title" style="text-align:center">📝 <span class="em">Q</span>uarantine <span>R</span>esume</h1>
        <br/>
        <div class="row" style="text-align: center; margin-left:10%; margin-right:10%;">
            <div class="col" style="border:thin; border-style:solid; text-align: left; margin-top:20px;">
                <h2 class="title" style="text-align: left; margin-left:8%; font-weight:700; margin-bottom:0px; margin-right:0px">résumé</h2>
                <p style="text-align: left; color:rgb(116, 116, 116); font-weight:400; font-size:x-large; margin-left:8%; margin-top:0px; margin-bottom:0px; margin-right:0px">/ˈrɛzjʊmeɪ/</p>
                <h5 class="title"  style="text-align:left; margin-bottom:5px; font-style:italic; margin-left:8%; margin-top:0px; margin-right:0px">(noun)</h5>
                <h5 class="title" style="text-align:left; font-size:21px; margin-left:8%; margin-top:0px; margin-bottom:0px; margin-right:1%">‣ A summary</h5>
                <h5 class="title" style="text-align:left; font-size:21px; margin-left:8%; margin-top:0px; margin-right:10%">‣ An account of personal experiences</h5>

            </div>
            <div class="col" style="margin-top:20px;">
               <h4 class="title" style="text-align:left; margin-left:10px; font-size:24px; margin-bottom:0px; margin-top:0px; "> 
                   Much like a good old resume, a quarantine resume is a record of the things you did while being in quarantine during the
                   2020 corona virus pandemic. 
               </h4>
               <h4 class="title" style="text-align:left; margin-left:10px; font-size:24px; margin-bottom:0px; margin-top:15px; ">
                    Sign up to make your own quarantine resume and get a shareable link or checkout the resumes of 
                    some other folks
               </h4>
            </div>
        </div>

        <br/>

       
        <div class="row" style="text-align:center; margin-left:10%; margin-right:10%;">
            <button id="signinButton" class="block accent" style="min-height:60px; padding:3%; margin-left:auto; margin-right:auto; font-size:large; --block-accent-color:#3f88c5">
                Sign in with Google
            </button>
        </div>

    
        <h2 class="title" style="margin-left:10%; margin-right:auto; margin-top:5%; margin-bottom:0px;">
            How to use?
        </h2>
        <h4 style="margin-left:10%; margin-right:10%; margin-bottom:0px; margin-top:8px;"> ‣ Sign in  ‣ Make resume  ‣ Get link to profile ‣ Share away! ‣ Sign in again to edit</h4>


        <br/>

        <h2 class="title" style="margin-left:10%; margin-right:5%; margin-bottom:0px;">
            Why a quarantine resume?
        </h2>
        <h5 style="margin-left:10%; margin-right:5%; margin-bottom:0px; margin-top:15px;"> 
            The coronavirus pandemic and everything that followed are events of such scale that happens usually only once in a 
            century. Unlike previous pandemics from the history of mankind, what we are going through right now is the first
            pandemic where everyone is still connected, thanks to the Internet.
            <br/><br/>
            With schools and universities temporarily closed (or shift to online classes), we have got a lot of free time to work on our other interests.
            You might not want to put all of these in you resumes. But they might be commendable nonetheless. This is a 
            platform where you can show off such work. You can add all your accomplishments or work done specifically duing 
            the quarantine time and share your quarantine resume.
        </h5>

        <br/>

        <h2 class="title" style="margin-left:10%; margin-right:10%; margin-bottom:1%;">
            Some resumes to look out for!
        </h2>
        <div style="margin-left:10%; margin-right:10%; display:block;">
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/subins2000">Subin</a></button>
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/khalby786">Khaleel</a></button>
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/athul8720">Athul</a></button>
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/aks28id">Akshay</a></button>
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/maxeust">Max</a></button>
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/govindkrishg">Govind</a></button>

            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/2000annujolly">Annu</a></button>

            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/vitaldoggaming">Aslam</a></button>
            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/sohail21400">Sohail</a></button>

            <button class="outline" style="height:50px;margin-bottom:0px; margin-right:10px; font-weight:bold; font-size:larger"> <a target="_blank" href="https://www.quarantineresu.me/sreeramvenkitesh">Sreeram</a></button>

        </div>

        <br/>

        

        
        <br/>
        

        
    
    </div>
    <br/>

    <p class="title" style="font-size:x-large; text-align:center; margin-bottom:0px;"> Powered by <img src="https://uploads-ssl.webflow.com/5eb96efa78dc680fc15be3be/5ec58c9b49c21c4535eead5a_logo-250.png" style="width:30px; height:30px; vertical-align:middle; margin-bottom:5px;"> <a class="bottomLinks" target="_blank" href="https://deta.sh">Deta Base</a> </p>
    <p class="title" style="font-size:x-large; text-align:center; margin-top:0px;">Made w/ 💖 by <span class="linkToProfile"><a class="bottomLinks" target="_blank" href="https://twitter.com/fillerInk"> fillerInk </a></span></p>

    <a href="https://deta.sh/" target="_blank" class="w-inline-block w-clearfix powered-by">
        <svg class="devolio-logo" width="40" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M-1-1h42v42H-1z"></path><g><g stroke="null"><circle fill="#ef39a8" r="18.801" cy="20" cx="20"></circle><circle fill="#bd399c" r="15.042" cy="20" cx="20"></circle><circle fill="#93388e" r="11.281" cy="20" cx="20"></circle><circle fill="#563379" r="7.521" cy="20" cx="20"></circle></g></g></svg>
        <div class="by-devolio">Powered by
        <span class="devolio">DETA</span>
        </div>
    </a>


    <script src="js/indexPage.js"></script>
</body>

</html>