<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarantine Resume</title>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
</head>
<body style="background-color: #a2dbff;">

    <br/>
    <div class="block fixed" style="position:relative;
    z-index: 1;
    height: 100%;
    min-width: 50px;    
    max-width: 1000px;
    margin: 0 auto;
    text-align:center;">
        <h1 class="title" style="text-decoration:underline; text-align:center">Privacy Policy</h1>
        <h4 style="margin-left: 10%; margin-right:10%; text-align:left;" >Hi! Thanks for creating a resume with <a href="https://quarantineresu.me">quarantineresu.me</a>! 
        The information that you enter is stored securely and keeping your information is our serious responsiblity.
        <br/>The Google Sign In is only so that it is more accessible for people to use. You only give us your email address and 
        your display name by signing into <a href="https://quarantineresu.me">quarantineresu.me</a> with your Gmail account. 
        <br/>This information is linked with the resume details that you give and is only used to look up your details from the database
        when you sign in again or share your profile to someone.
        <br/>
    
    </div>
    <br/>

    
</body>
</html>