<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your resume</title>
    <link href="../css/close.css" type='text/css'/>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
</head>
<body style="background-color: #a2dbff;">

    <br/>

    <div class="block fixed" style="position:relative;
    z-index: 1;
    height: 100%;
    min-width: 50px;
    max-width: 1000px;
    margin: 0 auto;">
        
        <h1 id="titleText" class="title" style="text-align:center">Hi! Create your resume!</h1>
        <br/>

        <form style="margin-left:10%; margin-right:10%" action="/resume_write" method="post" onsubmit="return checkForm()">
            <label>Enter Your Name</label>
            <input id="nameInput" class="block fixed" name="name" style="height: 50px; width:50%; font-size:larger; margin-left:0px;"  placeholder="Who are you?">

            <label>Enter Your Bio</label>
            <textarea id="bioInput" class="block fixed" name="bio" style="width:100%; height:200px; font-size:x-large; margin-left:0px; "  placeholder="What do you do?"></textarea>


            <div id='socials' name="socials"></div>
            <br/>
            <textarea id="hiddenSocials" name="hiddenSocials" style="display: none;"></textarea>
            <label id="socialLabel">Add Social</label>
            <div class='row' style="text-align:left;">
                <input id="socialName" class="block fixed col-6" style=" height: 50px;  font-size:larger; margin-left:0px; margin-bottom:0px"  placeholder="Name (Example: GitHub)">
                <input id="socialLink" class="block fixed col-6" style="height: 50px; font-size:larger; margin-left:0px; margin-bottom:0px"  placeholder="Link">
                <button id="addSocialButton" type='button' class="block col-1" style="padding:1.4%; margin-left:0px; margin-right:px; font-size:large;">
                    Add
                </button>
            </div>

            <br/>

            <div id='projects' name="projects"></div>
            <br/>
            <textarea id="hiddenProjects" name="hiddenProjects" style="display: none;"></textarea>
            <label id="projectLabel">Add Projects/Works/Anything else that you did!</label>

            <div style="display:block; text-align:left;">
                <div class="row">
                    <input id="projectName" class="block fixed col" style=" height: 50px; font-size:larger; margin-left:0px; margin-bottom:0px;"  placeholder="Name">
                    <input id="projectLink" class="block fixed col" style="height: 50px; font-size:larger; margin-left:0px;  margin-bottom:0px;"  placeholder="Link (optional)">
                    </div>
                    <textarea id="projectDescription" class="block fixed" style="width:100%; height:200px; font-size:x-large; margin-left:0px; margin-bottom:0px;"  placeholder="What is it about?"></textarea>
                <div class="row">
                    <select id="projectTag" class="block fixed col-11" style="height: 50px; padding-left:10px; padding-right:10px; font-size:larger; margin-left:0px; margin-bottom:0;" placeholder="Link">
                        <option disabled selected value> -- Select Tag -- </option>
                        <option value='software'>Software Project</option>
                        <option value='hardware'>Hardware Project</option>
                        <option value='course'>Online Course</option>
                        <option value='other'>Other</option>
                    </select>
                    <button id="addProjectButton" class="block col-1" type='button' style="padding:1.4%; margin-left:0px; margin-right:0px; font-size:large;">
                        Add
                    </button>
                </div>
            </div>

            <br/>

            <button id="createButton" class="block accent" type='submit' style="padding:2%; margin-left:auto; margin-right:auto; font-size:large; --block-accent-color:#3f88c5">
                Create!
            </button>

        </form>

        <br/>
    </div>
    
    <br/>
    <script>
        console.log("Script working!")
       
        var titleText = document.getElementById('titleText')
        const isFirstLogin = <%= firstLogin %>;
        if(isFirstLogin){
            titleText.innerHTML = `Hi <%= name %>! Create your Resume `;
        }else{
            titleText.innerHTML = `Welcome back <%= name %>! Edit your Resume!`;
            //Add code to populate the fields with values from db
        }
        console.log(isFirstLogin);

        const addSocialButton = document.getElementById('addSocialButton')
        const addProjectButton = document.getElementById('addProjectButton')
        const createButton = document.getElementById('createButton')

        var socials = document.getElementById('socials')
        var projects = document.getElementById('projects')
        const socialLabel = document.getElementById('socialLabel')
        const projectLabel = document.getElementById('projectLabel')
        var socialsArray = []
        var projectsArray = []

        const nameInput = document.getElementById('nameInput')
        const bioInput = document.getElementById('bioInput')
        function closeFunctionSocial(button){
            
            for (var i=0; i<socialsArray.length; i++){
                if(socialsArray[i]['name'] === JSON.parse(button.parentElement.children[2].innerHTML)['name'])
                {
                    console.log('yes ith array il ind!')
                    socialsArray.splice(i,1)
                }
            }
            button.parentElement.remove()
            console.log('removed!')
            console.log('new socials array is')
            console.log(socialsArray)
            var socialTextArea = document.getElementById('hiddenSocials')
            socialTextArea.value = JSON.stringify(socialsArray)
        }
        
        function closeFunctionProject(button){
            
            for (var i=0; i<projectsArray.length; i++){
                if(projectsArray[i]['name'] === JSON.parse(button.parentElement.children[4].innerHTML)['name'])
                {
                    console.log('yes ith array il ind!')
                    projectsArray.splice(i,1)
                }
            }
            button.parentElement.remove()
            console.log('removed!')
            console.log('new socials array is')
            console.log(projectsArray)
            var projectTextArea = document.getElementById('hiddenProjects')
            projectTextArea.value = JSON.stringify(projectsArray)
            
        }

        addSocialButton.addEventListener('click',()=>{
            console.log('Social add button clicked')
            
            var socialName = document.getElementById('socialName')
            var sociaLink = document.getElementById('socialLink')
            
            if(socialName.value==='' || 
                socialLink.value===''){
                    socialLabel.innerHTML = 'Please enter a valid response';
                    setTimeout(() =>socialLabel.innerHTML="Add Social",3000);
            }else{
                
                var button = document.createElement('button')
                button.className='outline'
                button.type='button'
                button.style ="height:50px; margin-bottom:0px; overflow:visible; position:relative; font-weight:bold; margin-left:3px; margin-right:8px; font-size:larger"
                var social = document.createElement('a')
                var name = document.createTextNode(socialName.value)
                
                social.appendChild(name)
                social.href=socialLink.value
                social.target='_blank'
                var closeButton = document.createElement('button')
                closeButton.style =' position: absolute; background: red; color: white; top: -20px; right: -10px; width: auto;padding-left:7px;padding-right:7px;height: auto; padding-top: 3px; padding-bottom: 3px;'
                closeButton.type='button'
                closeButton.addEventListener('click',()=>{
                    closeFunctionSocial(closeButton)
                })
                var buttonText = document.createTextNode('x')
                closeButton.appendChild(buttonText)
                button.appendChild(social)
                button.appendChild(closeButton)
                
                var dataText = {
                    name: socialName.value,
                    link:socialLink.value
                }
                var summary = document.createElement('p')
                summary.innerHTML = JSON.stringify(dataText)
                summary.style="display:none"
                button.appendChild(summary)
                socialsArray.push(dataText)
                socials.appendChild(button)
                
                var socialTextArea = document.getElementById('hiddenSocials')
                console.log(`Currently socials is ${socialsArray}`)
                socialTextArea.value = JSON.stringify(socialsArray)
                console.log(socialTextArea.value)

                socialName.value = ''
                socialLink.value = ''
            }
            
        })
        addProjectButton.addEventListener('click',()=>{
            console.log('Project add button clicked')
            var projectName = document.getElementById('projectName')
            var projectLink = document.getElementById('projectLink')
            var projectDescription = document.getElementById('projectDescription')
            var projectTag = document.getElementById('projectTag')
            console.log(`Project Name is ${projectName.value}`)
            console.log(`Project Link is ${projectLink.value}`)
            console.log(`Project Description is ${projectDescription.value}`)
            console.log(`Project Tag is ${projectTag.value}`)
            if(projectName.value==='' || 
                projectDescription.value==='' || 
                projectTag.value===''){
                    projectLabel.innerHTML = 'Please enter a valid response';
                    setTimeout(() =>projectLabel.innerHTML="Add Projects/Works/Anything else that you did!",3000);
            }else{
                var project = document.createElement('div')
                project.className ='block fixed'
                project.style='display:inline-block; padding:30px;'
                var name = document.createElement('H4')
                name.className='title'
                name.style='margin-top:0px; margin-bottom:0px; font-weight:bold'
                var nameText = document.createTextNode(projectName.value)
                name.appendChild(nameText)
                if(projectLink.value!=''){
                    var link = document.createElement('a')
                    link.className='title'
                    link.style='margin-top:0px; margin-bottom:0px;'
                    var linkElement = document.createElement('H5')
                    var linkText = document.createTextNode('Link to project')
                    linkElement.className='title'
                    linkElement.style='margin-top:0px; margin-bottom:0px;'
                    linkElement.appendChild(linkText)
                    link.appendChild(linkElement)
                    link.href = projectLink.value
                    link.target='_blank'
                }
                var description = document.createElement('H5')
                description.className='title'
                description.style='margin-top:0px; margin-bottom:0px;'
                var descriptionText = document.createTextNode(projectDescription.value)
                description.appendChild(descriptionText)
                
                var tag = document.createElement('H5')
                tag.className='title'
                tag.style='margin-top:0px; margin-bottom:0px; color:blue'
                var tagText = document.createTextNode(`Tags: ${projectTag.value}`)
                tag.appendChild(tagText)
                var closeButton = document.createElement('button')
                closeButton.style =' position: absolute; background: red; color: white; top: -20px; right: -10px; width: auto;padding-left:7px;padding-right:7px;height: auto; padding-top: 3px; padding-bottom: 3px;'
                closeButton.type='button'
                closeButton.addEventListener('click',()=>{
                    closeFunctionProject(closeButton)
                })
                var buttonText = document.createTextNode('x')
                closeButton.appendChild(buttonText)
                project.append(closeButton)
                project.appendChild(name)
                if(projectLink.value!=''){
                    project.appendChild(link)
                }
                project.appendChild(description)
                project.appendChild(tag)
                
                var dataText = {
                    name: projectName.value,
                    link:projectLink.value,
                    description:projectDescription.value,
                    tag:projectTag.value
                }
                projectsArray.push(dataText)
                var summary = document.createElement('p')
                summary.innerHTML = JSON.stringify(dataText)
                summary.style="display:none"
                project.appendChild(summary)
                
                projects.appendChild(project)
                console.log(`Currently projects is ${projectsArray}`)
                
            
                var projectTextArea = document.getElementById('hiddenProjects')
                projectTextArea.value = JSON.stringify(projectsArray)
                console.log(projectTextArea.value)

                projectName.value = ''
                projectLink.value = ''
                projectDescription.value = ''
                projectTag.selectedIndex = '0'
            }
        })

        function checkForm(){
            if(nameInput.value === '' || bioInput.value==='' || socialsArray.length===0 || projectsArray.length===0 ){
                alert('Please fill the details properly!')
                return false
            }else{
                return true
            }
        }
    </script>
</body>
</html>